.navbar__bg{
    background-color:rgba(255,184,0)
}

.form__wrapper {
    margin-left: auto;
    margin-right:auto;
    margin-top:20px;

}

.btn__bg {
    border: 1px solid rgb(209, 158, 29);
    color: rgb(209, 158, 29);
    font-size: 19px;
    font-weight: 400;
  
}
.btn__bg:focus {
background-color:rgb(209, 158, 29);
}

.btn__view {
    margin-right: 10px;
}

.btn__view {
    margin-bottom: 30px;
}

.popup {
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 999990000;
    

}
.popup__content{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
   box-shadow: 1px 1px rgba(0,0,0,0.2);
    border-radius: 3px;
}